{%extends 'base.html'%}
{%block title%}홈{%endblock%}
{%block content%}

<div class="container">
  <!--ubd x/audience-->
  <h1>관객 수를 UBD로</h1>
  <div class="form-group">
    <form action="{% url 'ubdresult' %}">
      <input type="number" step="any" min="0" class="form-control" name="ubdint" cols="30" rows="10"
        placeholder="0 이상 입력해주세요." />
      <br />
      <input type="submit" class="btn btn-dark btn-block calc" value="계산" />
    </form>
  </div>

  <hr>

  <div class="form-grop">
    <h1>UBD를 관객 수로 </h1>
    <form action="{% url 'ubdresult_rev' %}">
      <input type="number" step="0.01" min="0" max="100" class="form-control" name="ubdint_rev" cols="30" rows="10"
        placeholder="0 이상 입력해주세요." />
      <br />
      <input type="submit" class="btn btn-dark btn-block calc" value="계산" />
    </form>
  </div>
  <br />
  <hr>
  <h1>요즘 뜨는 영화</h1>
  <div class=container>
    <div class="row text-center">
      {% for movie in movies %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-70">
          <img class="card-img-top" src="{{ movie.image }}" alt="movie_image">
          <div class="card-body">
            <h4 class="card-title">{{movie.movie_title}}</h4>
            <br />
            <p class="card-text">{{movie.infor}}</p>
            <br />
            <p class="card-text">{{movie.day_ubd}}</p>
            <br />
            <p class="card-text">{{movie.total_ubd}}</p>
          </div>
          <div class="card-footer">
            <a href="https://search.naver.com/search.naver{{ movie.link }}" class="btn btn-dark">네이버에서 정보 찾기!</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
</div>

{% if message %}
<script>
  alert('올바른 값을 넣어주세요.')
</script>
{% endif %}

{%endblock%}