<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <h1>UBD 변환 사이트입니다.</h1>

    <form action="{% url 'ubdresult' %}">
        <input type="number" name="ubdint" cols="30" rows="10"></input>
        <br>
        <input type="submit" value="계산">
    </form>
    <h4>현재 시간은 {{ now }}입니다</h4>


</body>

</html>